<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/web/css/charapter.css">

        <!--Inconsolata-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap" rel="stylesheet">
    <title>Capitulos</title>

</head>

<body>
    <div class="contenedor-imagen">
        <img class="current-imagen" id="chapter-image" src="{{ current_image }}" alt="Chapter Image">
    </div>

    <!-- Botón flotante para navegar a un capítulo específico -->
    <div id="floating-button">
        <input class="barra-busqueda" type="number" id="chapter-number" placeholder="Enter chapter number">
    </div>
    <div class="contenedor-botonera">
        <div class="back">
            <button onclick="goToPreviousChapter()"></button>
        </div>
        <div class="next">
            <button onclick="goToNextChapter()"></button>
        </div>
    </div>
    <script>
        // Lista de URLs de imágenes por capítulo
        const chapterImageUrls = {{ chapter_image_urls | tojson }};
        // Índice del capítulo actual
        let currentChapterIndex = 0;

        // Función para cambiar al capítulo anterior
        function goToPreviousChapter() {
            if (currentChapterIndex > 0) {
                currentChapterIndex--;
                updateChapterImage();
            }
        }

        // Función para cambiar al siguiente capítulo
        function goToNextChapter() {
            if (currentChapterIndex < chapterImageUrls.length - 1) {
                currentChapterIndex++;
                updateChapterImage();
            }
        }

        // Función para ir a un capítulo específico
        function goToChapter() {
            const chapterNumberInput = document.getElementById('chapter-number');
            const chapterNumber = parseInt(chapterNumberInput.value);
            if (!isNaN(chapterNumber) && chapterNumber > 0 && chapterNumber <= chapterImageUrls.length) {
                currentChapterIndex = chapterNumber - 1; // Ajusta el índice para que sea 0-based
                updateChapterImage();
            } else {
                alert('Please enter a valid chapter number.');
            }
        }

        // Función para actualizar la imagen del capítulo actual
        function updateChapterImage() {
            const chapterImage = document.getElementById('chapter-image');
            chapterImage.src = chapterImageUrls[currentChapterIndex];
        }


            // Captura de eventos de teclado en el input
            document.getElementById('chapter-number').addEventListener('keyup', function (event) {
                if (event.key === 'Enter') {
                    goToChapter();
                }
            });
            // Captura de eventos de teclado
                document.addEventListener('keydown', function (event) {
                    // Verifica si la tecla presionada es la flecha arriba o abajo
                    if (event.key === 'ArrowUp') {
                        goToPreviousChapter();
                    } else if (event.key === 'ArrowDown') {
                        goToNextChapter();
                    }
                });



        // Cargar la primera imagen del capítulo actual al cargar la página
        updateChapterImage();
    </script>
</body>

</html>