<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        /* Establecer un tamaño fijo para todas las imágenes */
        img {
            width: 200px;
            /* Cambia el valor según lo que desees */
            height: auto;
            /* Esto mantendrá la proporción de aspecto original */
            display: block;
            /* Asegúrate de que las imágenes se muestren como bloques */
            margin: 0 auto;
            /* Centra las imágenes horizontalmente */
        }
    </style>
    <link rel="stylesheet" href="../static/web/css/style.css">
    <link rel="stylesheet" href="../static/web/css/Switch_titulo.css">
    <link rel="stylesheet" href="../static/web/css/paginacion.css">
    <!--Fuentes -->
    <!--Julius Sans One -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap" rel="stylesheet">
    <!--Inconsolata-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap" rel="stylesheet">
    <title>Manga Search</title>
</head>

<body>
    <div class="container">
        

        <form action="/" method="POST">
            <div class="input-container">
                <img src="../static/web/Img/svg/Buscar.svg" alt="buscar.svg">
                <input class="barra-busqueda" type="text" name="query" placeholder="Buscar">
            </div>
            <!--<button type="submit">Search</button>-->
        </form>

        <label class="switch">
            <input type="checkbox" id="title-switch">
            <span class="slider"></span>
        </label>
        <img class="icon-texto" src="../static/web/Img/svg/Texto.svg" alt="texto.svg">
        <div class="busqueda-txt">
            {% if show_recent %}
            Publicaciones recientes
            {% else %}
            Resultados de tu busqueda
            {% endif %}
        </div>
        <div>
            <div class="portadas">
                {% if manga_data %}
                <div class="grid-container">
                    {% for manga in manga_data %}
                    <div class="manga-item">
                        <a href="/manga/{{ manga.manga_id }}/chapters" class="text-decoloration">
                        <!--<p>{{ manga.manga_id }}</p>-->
                        <!--<p>{{ manga.description }}</p>-->
                        {% if manga.cover_url %}
                        <img src="{{ manga.cover_url }}" alt="Portada">
                        {% else %}
                        <p>No cover available</p>
                        {% endif %}
                        <div class="titulo-manga">{{ manga.title }}</div>
                        <!--<a href="/manga/{{ manga.manga_id }}">View Details</a>-->
                        </a>
                    </div>
                    {% endfor %}
                </ul>
            </div>

            <div class="pagination">
                <div class="numero-paginacion">
                    {% if page > 1 %}
                        <a href="/?page={{ page - 1 }}" class="enlace-paginacion"><img class="icon-back-next" src="../static/web/Img/svg/Back-icon.svg" alt="Back-icon"></a>
                    {% endif %}
                    
                    {% if page <= 3 %} {% set min_page=1 %} {% else %} {% set min_page=page - 2 %} {% endif %} {% if page>= total_pages - 2%}
                        {% set max_page = total_pages %}
                    {% else %}
                        {% set max_page = page + 2 %}
                    {% endif %}
                    
                    {% if min_page > 1 %}
                        <a href="/?page=1" class="enlace-paginacion">1</a> <span class="puntos"> ...</span>
                    {% endif %}
                    
                    {% for p in range(min_page, max_page + 1) %}
                        {% if p == page %}
                            <span class="enlace-paginacion-activo">{{ p }}</span>
                        {% else %}
                        <a href="/?page={{ p }}" class="enlace-paginacion">{{ p }}</a>
                        {% endif %}

                        {% endfor %}
                    
                        {% if max_page < total_pages %}
                        <span class="puntos"> ... </span> <a href="/?page={{ total_pages }}" class="enlace-paginacion">{{ total_pages }}</a>
                        {% endif %}
                    
                        {% if page < total_pages %} 
                            <a href="/?page={{ page + 1 }}" class="enlace-paginacion"><img class="icon-back-next" src="../static/web/Img/svg/Next-icon.svg" alt="Next-icon"></a>
                        {% endif %}
                    
                    
                    {% else %}
                    No manga found.
                    {% endif %}
                </div>
        </div>
    </div>

    <script src="../static/web/Js/Switch_titulo.js"></script>
    <!--<script src="../static/web/Js/Imagenes_efecto.js"></script>-->

</body>

</html>