
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Términos y Condiciones</title>
    <link rel="stylesheet" href="/static/web/css/informacion.css">
        <!--Inconsolata-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <h1>Términos y Condiciones de Uso</h1>
    </header>
    <main>
        <section>
            <h2>Uso de la API de MangaDex</h2>
            <p>El Sitio utiliza la API de MangaDex para proporcionar contenido relacionado con manga. Reconoces y
                aceptas que el contenido ofrecido a través de esta API es propiedad de MangaDex y/o sus respectivos
                creadores y licenciantes. No reclamamos la autoría de ningún contenido proporcionado a través de la  <a href="https://api.mangadex.org/docs/">API
                de MangaDex</a>.</p>
        </section>
        <section>
            <h2>Propiedad Intelectual</h2>
            <p>Todo el contenido disponible en el Sitio, incluidos, entre otros, los textos, gráficos, logotipos,
                iconos, imágenes, clips de audio y video, descargas digitales y cualquier otro material, es propiedad de
                sus respectivos propietarios y está protegido por las leyes de propiedad intelectual correspondientes.
            </p>
        </section>
        <section>
            <h2>Uso Aceptable</h2>
            <p>Al utilizar el Sitio, aceptas no utilizar el contenido proporcionado de manera que infrinja los derechos
                de propiedad intelectual de MangaDex u otros terceros. No debes realizar ninguna acción que pueda dañar,
                deshabilitar, sobrecargar o afectar negativamente el funcionamiento del Sitio.</p>
        </section>
        <section>
            <h2>Exclusión de Garantías</h2>
            <p>El Sitio se proporciona "tal cual" y "según disponibilidad". No ofrecemos garantías de ningún tipo,
                expresas o implícitas, respecto a la precisión, confiabilidad o disponibilidad del Sitio o de su
                contenido.</p>
        </section>
        <section>
            <h2>Limitación de Responsabilidad</h2>
            <p>En ningún caso seremos responsables ante ti o cualquier otra persona por daños directos, indirectos,
                incidentales, especiales, consecuentes o punitivos que surjan del uso del Sitio o de su contenido.</p>
        </section>
        <section>
            <h2>Cambios a los Términos</h2>
            <p>Nos reservamos el derecho de actualizar, modificar o cambiar estos Términos en cualquier momento sin
                previo aviso. Te recomendamos revisar periódicamente los Términos para estar al tanto de cualquier
                cambio.</p>
        </section>

        <section>
            <h2>Contacto</h2>
            <p>Si tienes alguna pregunta sobre estos Términos, puedes ponerte en contacto con nosotros [aquí].</p>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 Términos y Condiciones de MangaWebsite. Todos los derechos reservados.</p>
    </footer>
</body>

</html>
```

Recuerda que puedes personalizar el contenido y el estilo según las necesidades y la estética de tu sitio web.