<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/web/css/manga-chapters.css">
        <!--Fuentes -->
        <!--Julius Sans One -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap" rel="stylesheet">
        <!--Inconsolata-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap" rel="stylesheet">
    <title>Manga Chapters</title>
</head>

<body>
    <!--<p>Manga ID: {{ manga_id }}</p>-->
    <div class="container-sup">
        <div class="contenedor0">
            <div class="contenedor1">
                {% if cover_url %}
                <img src="{{ cover_url }}" alt="Portada" class="cover-image-big">
                {% else %}
                <p>No cover available</p>
                {% endif %}
            </div>

            <div class="contenedor2">
                <h2 class="titulo-manga">{{ manga_details.data.attributes.title.en }} </h2>
            </div>
        </div>
        <div class="contenedor3">
           <span class="descripcion">{{ manga_details.data.attributes.description.en }}</span>
        </div>
    </div>



    <div>
        <h2 class="caps-grupo">Capítulos con volumen</h2>
        {% for group in grouped_chapters %}
            <div class="volumen">Volumen {{ group.volume }}</div>
        
            {% for page_group in group.chapter_groups %}
                <div class="capitulo" id="capitulo-{{ page_group.chapter_number }}">Capitulo {{ page_group.chapter_number }}</div>

                {% set contador_contenido = 0 %}
                {% for chapter in page_group.chapters %}
        
                    {{ chapter.manga_id }}
                    <div class="contenido" id="contenido-{{ page_group.chapter_number }}-{{ contador_contenido }}">
                        <!--Lenguaje {{ chapter.translatedLanguage }}-->
                        <div class="ir-cap">
                        {% if chapter.translatedLanguage %}
                            {% set language_code = chapter.translatedLanguage.split('-')[0].upper() %}
                                {% if language_code in custom_abbr_mapping %}
                                <span>{{ get_flag_emoji(custom_abbr_mapping[language_code]) }}</span>
                                {% else %}
                                <span>{{ get_flag_emoji(language_code) }}</span>
                                {% endif %}
                        {% endif %}
                        
                        <!--ID del capítulo: {{ chapter.id }}-->
                        <a href="/manga/{{ manga_id }}/chapter/{{ chapter.id }}">
                        {% if chapter.title == "" %}
                            Sin título
                        {% else %}
                            {{ chapter.title }}
                        {% endif %}
                        </a>
                        </div>
                    </div>
                    {% set contador_contenido = contador_contenido + 1 %}
                    
                    
        
                {% endfor %}
        
            {% endfor %}
        
        {% endfor %}
        
        <br>
        <h2 class="caps-grupo">Capítulos sin volumen</h2>
{% for group in grouped_chapters_without_volume %}
    <div class="capitulo-container">
        <p class="capitulo" data-capitulo-id="{{ group.chapter_number }}">Página {{ group.chapter_number }}</p>
        <div class="contenido-container">
            {% set contador_contenido = 0 %}
            {% for chapter in group.chapters %}
                <div class="contenido" id="contenido-sin-volumen-{{ group.chapter_number }}-{{ contador_contenido }}">
                    <!--Lenguaje {{ chapter.translatedLanguage }}-->
                    <div class="ir-cap">
                    {% if chapter.translatedLanguage %}
                        {% set language_code = chapter.translatedLanguage.split('-')[0].upper() %}
                        {% if language_code in custom_abbr_mapping %}
                            <span>{{ get_flag_emoji(custom_abbr_mapping[language_code]) }}</span>
                        {% else %}
                            <span>{{ get_flag_emoji(language_code) }}</span>
                        {% endif %}
                    {% endif %}
                    
                    <!--<p>ID del capítulo: {{ chapter.id }}</p>-->
                    <a href="/manga/{{ manga_id }}/chapter/{{ chapter.id }}">
                    {% if chapter.title == "" %}
                        Sin título
                    {% else %}
                        {{ chapter.title }}
                    {% endif %}
                    </a>
                    </div>
                </div>
                {% set contador_contenido = contador_contenido + 1 %}
                
            {% endfor %}
        
        {% endfor %}
    </div>
    <script>
        const capitulos = document.querySelectorAll('.capitulo');

            capitulos.forEach(capitulo => {
                capitulo.addEventListener('click', () => {
                    const capituloId = capitulo.id.split('-')[1];
                    const contenidos = document.querySelectorAll(`[id^="contenido-${capituloId}-"]`);
                    console.log(contenidos)
                    contenidos.forEach(contenido => {
                        contenido.classList.toggle('activo'); // Alternar clase "activo"
            
                    });
                });
            });



       const capitulos2 = document.querySelectorAll('.capitulo');

        capitulos2.forEach(capitulo => {
            capitulo.addEventListener('click', () => {
                const capituloId = capitulo.dataset.capituloId;
                const contenidoContainer = capitulo.nextElementSibling;
                const contenidos = contenidoContainer.querySelectorAll(`.contenido[id^="contenido-sin-volumen-${capituloId}-"]`);

                contenidos.forEach(contenido => {
                    contenido.classList.toggle('activo');
                });
            });
        });



    </script>
    

</body>

</html>