<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manga Chapters</title>
</head>

<body>
    <h1>Manga Chapters</h1>
    <p>Manga ID: {{ manga_id }}</p>
    <ul>

        <h2>Capítulos con volumen</h2>
        {% for chapter in chapters_with_volume %}
        <li>
            <p>{{ chapter.manga_id }}</p>
            Volumen {{ chapter.volume }} - Página {{ chapter.chapter }}
            <br>
            Lenguaje {{ chapter.translatedLanguage }}
            {% if chapter.translatedLanguage %}
            {% set language_code = chapter.translatedLanguage.split('-')[0].upper() %}
            {% if language_code in custom_abbr_mapping %}
            <span>{{ get_flag_emoji(custom_abbr_mapping[language_code]) }}</span>
            {% else %}
            <span>{{ get_flag_emoji(language_code) }}</span>
            {% endif %}
            {% endif %}
            <br>
            <a href="/manga/{{ manga_id }}/chapter/{{ chapter.id }}">
                {% if chapter.title == "" %}
                Sin título
                {% else %}
                {{ chapter.title }}
                {% endif %}
            </a>
            <br><br>
        </li>
        {% endfor %}

        <h2>Capítulos sin volumen</h2>
        {% for chapter in chapters_without_volume %}
        <li>
            <p>{{ chapter.manga_id }}</p>
            Página {{ chapter.chapter }}
            <br>
            Lenguaje {{ chapter.translatedLanguage }}
            {% if chapter.translatedLanguage %}
            {% set language_code = chapter.translatedLanguage.split('-')[0].upper() %}
            {% if language_code in custom_abbr_mapping %}
            <span>{{ get_flag_emoji(custom_abbr_mapping[language_code]) }}</span>
            {% else %}
            <span>{{ get_flag_emoji(language_code) }}</span>
            {% endif %}
            {% endif %}
            <br>
            <a href="/manga/{{ manga_id }}/chapter/{{ chapter.id }}">
                {% if chapter.title == "" %}
                Sin título
                {% else %}
                {{ chapter.title }}
                {% endif %}
            </a>
            <br><br>
        </li>
        {% endfor %}
    </ul>
</body>

</html>